/* .container {
  max-width: 100%;
} */
.card-list {
  width: 85vw;
  margin: 20px auto;
  padding: 0;
  display: grid;
  /* 4 equal parts of the x dimention */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container {
  /* max-width: 1100px; */
  /* overflow: hidden; */
  padding: 0;
  margin: 6rem auto 0rem;
}

/* .search-box {
  width: 85vw;
  margin: 20px auto;
  padding: 0;
} */

@media only screen and (max-width: 2000px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1400px) {
  .card-list {
    grid-template-columns: 1fr 1fr !important;
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 850px) {
  .card-list {
    grid-template-columns: 1fr !important;
  }
}
