.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.search-box {
  width: 85vw;
  margin: 20px auto;
  padding: 0;
}
